{% extends '/base.html.twig' %}

{% block body %}

<section class="cbo-confirmation">
	<div class="confirmation-bg">
		<div class="bg-top-left"><span></span></div>
		<div class="bg-top-right"><span></span></div>
		<div class="bg-bottom-left"><span></span></div>
		<div class="bg-bottom-right"><span></span></div>
	</div>
	<div class="confirmation-inner cbo-container">

		<div class="confirmation-icon">
			<i class="icon icon--cart-full"></i>
		</div>
		<div class="confirmation-title">
			<span>Choueeeette !</span>
		</div>
		<p>
			Votre commande a bien été envoyée !<br />
			Votre savonnier va faire son maximum pour qu’elle arrive
			rapidement chez vous.
		</p>

	</div>
</section>

{% endblock %}