{% extends '/base.html.twig' %}

{% block body %}

<section class="cbo-error">
	<div class="error-bg"></div>
	<div class="error-inner cbo-container">

		<div class="error-title">
			<span>Erreur <strong>500</strong></span>
		</div>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nunc neque, scelerisque vitae leo at, suscipit porta tortor. Morbi porttitor egestas elementum. Duis sed eros vitae orci facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed eros vitae orci facilisis.
		</p>

	</div>
</section>

{% endblock %}