/* -------------------------------
   TUNNEL DELIVERY BLOCK
   --
   Mobile First !
------------------------------- */

.cbo-tunnel .tunnel-content .content-delivery{
	position:relative;

	input[type=radio]{
		position::absolute;
		width:0;
		height:0;
		opacity:0;

		& + label{
			display:block;
			margin:20px 0;
			cursor:pointer;

			.inner{
				display:block;
				background:$colorgoldlight;
				padding:15px;
				text-align:center;
				border:5px solid $colorgoldlight;
				transition:border .4s;
			}

			.picture{
				display:block;

				img{
					max-width:80%;
					height:auto;
				}
			}

			.number{
				display:block;
				margin:20px 0;
				font-size:14px;
			}

			.name{
				display:block;
				font-size:18px;
				font-weight:300;

				strong{
					display:block;
					font-weight:700;
					color:$colorgreen;
				}
			}
		}

		&:checked + label{

			.inner{
				border-color:$colorgreen;
			}
		}
	}
}


/* -------------------------------
   SMALL SCREENS
------------------------------- */

@media (min-width: $screen-sm-min) {

	.cbo-tunnel .tunnel-content .content-delivery{
		display:flex;
		align-items:stretch;
		flex-wrap:wrap;
		margin:0 -10px;

		input[type=radio] + label{
			width:50%;
			padding:10px;
			margin:0;

			.inner{
				min-height:100%;
			}
		}
	}
}


/* -------------------------------
   MEDIUM SCREENS
------------------------------- */

@media (min-width: $screen-md-min) {

	.cbo-tunnel .tunnel-content .content-delivery{

		input[type=radio] + label{
			width:33.3333%;
		}
	}
}


/* -------------------------------
   LARGE SCREENS
------------------------------- */

@media (min-width: $screen-lg-min) {

	.cbo-tunnel .tunnel-content .content-delivery{
		padding:0 40px;

		input[type=radio] + label{

			.name{
				font-size:22px;
			}
		}
	}
}


/* -------------------------------
   EXTRA LARGE SCREENS
------------------------------- */

@media (min-width: $screen-xl-min) {

	.cbo-tunnel .tunnel-content .content-delivery{

	}
}