/* -------------------------------
   BUTTONS COMPONENT
   --
   Mobile First !
------------------------------- */

.cbo-button{
	display:inline-block;
	height:50px;
	line-height:50px;
	border:1px solid $colorgreen;
	color:$colorgreen;
	font-size:14px;
	padding:0 25px;
	text-decoration:none;
	background:none;
	border-radius:25px;
	cursor:pointer;

	.icon{
		margin:0 0 0 70px;
	}

	&.button--plain{
		background:$colorgreen;
		color:$colorwhite;
	}

	&.button--white{
		border-color:$colorwhite;
		color:$colorwhite;

		&.button--plain{
			background:$colorwhite;
			color:$colorgreen;
		}
	}
}

/* -------------------------------
   SMALL SCREENS
------------------------------- */

@media (min-width: $screen-sm-min) {

	.cbo-button{

	}
}


/* -------------------------------
   MEDIUM SCREENS
------------------------------- */

@media (min-width: $screen-md-min) {

	.cbo-button{
		transition:all .4s;

		.icon{
			transition:transform .4s $easeinout;
		}

		&:hover{
			background:$colorgreen;
			color:$colorwhite;

			.icon{
				transform:translateX(-20px);
			}
		}

		&.button--plain:hover{
			background:transparent;
			color:$colorgreen;
		}

		&.button--white{
			background:$colorwhite;
			color:$colorgreen;

			&.button-plain{
				background:transparent;
				color:$colorwhite;
			}
		}
	}
}


/* -------------------------------
   LARGE SCREENS
------------------------------- */

@media (min-width: $screen-lg-min) {

	.cbo-button{

	}
}


/* -------------------------------
   EXTRA LARGE SCREENS
------------------------------- */

@media (min-width: $screen-xl-min) {

	.cbo-button{

	}
}