/* -------------------------------
   TYPOGRAPHY
   --
   Mobile First !
------------------------------- */

/* Titles */

h1, .cbo-title-1,
h2, .cbo-title-2,
h3, .cbo-title-3{ margin:.75em 0; line-height:1.35em; }

h1, .cbo-title-1{ font-size:28px; text-transform:uppercase; }
h2, .cbo-title-2{ font-size:16px; font-weight:600; }
h3, .cbo-title-3{ font-size:24px; text-transform:uppercase; }

.cbo-sectiontitle{
   text-transform:uppercase;
   font-weight:bold;
   font-size:22px;
}

.cbo-cms{

   p, ul{
      margin:1em 0;
      padding:0;
      line-height:1.35em;
      font-weight:500;

      a:not(.cbo-link),
      a:not(.cbo-button){
         color:$colorblack;
         text-decoration:unerline;
      }
   }

   ul li{
      margin:0 0 0 18px;
   }
}

.cbo-chapo{
   font-weight:600 !important;
   line-height:1.35em;
}

.cbo-bigtitle{
   color: $colorgoldlight;
   font-family: $fontsecond;
   font-size: 50px;
   line-height: 1em;
   text-align:center;
}

/* -------------------------------
   SMALL SCREENS
------------------------------- */

@media (min-width: $screen-sm-min) {

}


/* -------------------------------
   MEDIUM SCREENS
------------------------------- */

@media (min-width: $screen-md-min) {

	h1, .cbo-title-1{ font-size:28px; }
   h2, .cbo-title-2{ font-size:18px; }
   h3, .cbo-title-3{ font-size:28px; }

   .cbo-chapo{
      font-size:18px;
   }

   .cbo-bigtitle{
      font-size:152px;
   }
}


/* -------------------------------
   LARGE SCREENS
------------------------------- */

@media (min-width: $screen-lg-min) {

}


/* -------------------------------
   EXTRA LARGE SCREENS
------------------------------- */

@media (min-width: $screen-xl-min) {

}