/* -------------------------------
   TYPOGRAPHY
   --
   Mobile First !
------------------------------- */

/* Titles */

h1, .cbo-title-1,
h2, .cbo-title-2{ 
   color:$colorblack;
   font-family:$fontsecond;
   font-size:30px;
   font-weight:400;
   line-height:1.1333em;
}

.cbo-cms{

   p, ul{
      margin:1em 0;
      padding:0;
      line-height:1.35em;
      font-weight:500;

      a:not(.cbo-link),
      a:not(.cbo-button){
         color:$colorblack;
         text-decoration:unerline;
      }
   }

   ul li{
      margin:0 0 0 18px;
   }
}

.cbo-chapo{
   color: $colorblack;
   font-family: $fontsecond;
   font-size: 22px;
   font-weight: 400;
   line-height: 1.2em;
}

.cbo-bigtitle{
   color: $colorgoldlight;
   font-family: $fontsecond;
   font-size: 50px;
   font-weight:normal;
   line-height: 1em;
   text-align:center;
}

/* -------------------------------
   SMALL SCREENS
------------------------------- */

@media (min-width: $screen-sm-min) {

}


/* -------------------------------
   MEDIUM SCREENS
------------------------------- */

@media (min-width: $screen-md-min) {

	h1, .cbo-title-1{ font-size:40px; }
   h2, .cbo-title-2{ font-size:28px; }

   .cbo-bigtitle{
      font-size:152px;
   }
}


/* -------------------------------
   LARGE SCREENS
------------------------------- */

@media (min-width: $screen-lg-min) {

}


/* -------------------------------
   EXTRA LARGE SCREENS
------------------------------- */

@media (min-width: $screen-xl-min) {

}