/* -------------------------------
   TYPOGRAPHY
   --
   Mobile First !
------------------------------- */

/* Titles */

h1, .cbo-title-1,
h2, .cbo-title-2{ 
   color:$colorblack;
   font-family:$fontsecond;
   font-size:30px;
   font-weight:400;
   line-height:1.1333em;
}

h2, .cbo-title-2{

   .hilight{
      display:block;
      color:$colorgreen;
   }
}

.cbo-title-3{
   color: $colorgreen;
   font-size: 28px;
   font-weight: 700;
}

.cbo-cms{

   p, ul{
      margin:1em 0;
      padding:0;
      line-height:1.35em;
      font-weight:500;

      a:not(.cbo-link),
      a:not(.cbo-button){
         color:$colorblack;
         text-decoration:unerline;
      }
   }

   ul li{
      margin:0 0 0 18px;
   }
}

.cbo-chapo{
   color: $colorblack;
   font-family: $fontsecond;
   font-size: 22px;
   font-weight: 400;
   line-height: 1.2em;
}

.cbo-bigtitle{
   color: $colorgoldlight;
   font-family: $fontsecond;
   font-size: 50px;
   font-weight:normal;
   line-height: 1em;
   text-align:center;
}

.cbo-stackedtitle{
   text-align:center;

   .cbo-bigtitle{
      margin-top:0;
      margin-bottom:0;
   }

   .cbo-title-1{
      margin-top:-20px;
   }

   .cbo-button{
      margin:30px 0;
   }
}

/* -------------------------------
   SMALL SCREENS
------------------------------- */

@media (min-width: $screen-sm-min) {

}


/* -------------------------------
   MEDIUM SCREENS
------------------------------- */

@media (min-width: $screen-md-min) {

	h1, .cbo-title-1{ font-size:40px; }
   h2, .cbo-title-2{ font-size:28px; }

   .cbo-title-3{
      font-size: 28px;
   }

   .cbo-bigtitle{
      font-size:152px;
   }

   .cbo-stackedtitle{

      .cbo-title-1{
         margin-top:-70px;
      }

      .cbo-button{
         margin:50px 0;
      }
   }
}


/* -------------------------------
   LARGE SCREENS
------------------------------- */

@media (min-width: $screen-lg-min) {

}


/* -------------------------------
   EXTRA LARGE SCREENS
------------------------------- */

@media (min-width: $screen-xl-min) {

}