// Custom template

@font-face {
    font-family:"icons";
    src: url("../fonts/icons.eot?f9271ec8fc5e39ffcec154bb7cdbe684");
    src: url("../fonts/icons.eot?f9271ec8fc5e39ffcec154bb7cdbe684#iefix") format("embedded-opentype"),
		url("../fonts/icons.woff?f9271ec8fc5e39ffcec154bb7cdbe684") format("woff"),
		url("../fonts/icons.ttf?f9271ec8fc5e39ffcec154bb7cdbe684") format("truetype"),
		url("../fonts/icons.svg?f9271ec8fc5e39ffcec154bb7cdbe684#icons") format("svg");
    font-weight:normal;
    font-style:normal;
    }

.icon {
    font-family:"icons";
    display:inline-block;
    font-style:normal;
    speak:none;
    -webkit-font-smoothing:antialiased;
    font-size:1em;
    line-height:1em;
    vertical-align:baseline;
    }

// Icons
.icon--account:before { content:"\f101"; }
.icon--arrow:before { content:"\f102"; }
.icon--balance:before { content:"\f103"; }
.icon--bg-menu:before { content:"\f104"; }
.icon--bike:before { content:"\f105"; }
.icon--cart-empty:before { content:"\f106"; }
.icon--cart-full:before { content:"\f107"; }
.icon--cross:before { content:"\f108"; }
.icon--eco:before { content:"\f109"; }
.icon--essential-oils:before { content:"\f10a"; }
.icon--greasing:before { content:"\f10b"; }
.icon--less:before { content:"\f10c"; }
.icon--liquid-soap:before { content:"\f10d"; }
.icon--lock:before { content:"\f10e"; }
.icon--marker:before { content:"\f10f"; }
.icon--more:before { content:"\f110"; }
.icon--nose:before { content:"\f111"; }
.icon--shield:before { content:"\f112"; }
.icon--star:before { content:"\f113"; }
.icon--vegan:before { content:"\f114"; }